# Модель
*.h5

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Логи
*.log

# Jupyter
.ipynb_checkpoints/

# Mac OS / Windows мусор
.DS_Store
Thumbs.db

# Docker build files
*.tar

.env
service_account.json
*.keras


