tensorflow==2.12.0
numpy==1.23.5
pandas==1.5.3
yfinance==0.2.18
matplotlib==3.7.1
ta==0.10.2
scikit-learn==1.2.2
python-telegram-bot==20.3
google-api-python-client==2.97.0
google-auth==2.25.2
google-auth-oauthlib==1.2.0
google-auth-httplib2==0.2.0